<h2>Trains</h2>

<ul>
  <% @trains.each do |train| %>
    <% train.cities.each do |city| %>
    <li><%= train.name()%>, <%= city.name %></li>
    <% end %>
  <% end %>

</ul>


<h2>Cities</h2>


<a href="/">Back</a>
