<h2>All Trains</h2>

<% if @trains.any?() %>
  <ul>
    <% @trains.each() do |train| %>
      <li><a href="/trains/<%= train.id() %>"><%= train.name() %></a> </li>
    <% end %>
  </ul>

<% else %>
  <p>
    There aren't any trains yet.
  </p>
<% end %>

<h3>Add New Train</h3>
<form action="/operator/trains" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" required>
  </div>
  <button type="submit" class="btn">Add Train</button>
</form>

<% if @trains.any?() %>
  <h3>Delete a Train</h3>
  <form action="/operator/trains" method="post" id="train_form">
    <input type="hidden" name="_method" value="delete">
    <select id="train_select" name="train_select" type="text" class="form-control" form="train_form">
      <% @trains.each() do |train| %>
        <option value="<%= train.id() %>"><%= train.name() %></option>
      <% end %>
    </select>
    <br>
    <button type="submit" class="btn">Delete Train</button>
  </form>
<% end %>
