<h2><%= @train.name() %></h2>

<ul>
  <% @train.cities().each() do |city| %>

    <li><%= city.name() %>, <%= @train.eta().strftime("%I:%M %p") %></li>

  <% end %>
</ul>


<form action="/trains/<%= @train.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="name">Train Name</label>
    <input type="text" name="name" id="name" class="form-control">

    <br>
    <label for="add_stop_info">New Stop</label>
    <div name="add_stop_info">
      <label for="city">City</label>
      <input type="text" name="city" id="city" class="form-control">
      <label for="eta">ETA</label>
      <input type="time" name="eta" id="eta" class="form-control">
    </div>
  </div>

  <button type="submit" class="btn">Update</button>

</form>
<br>
<a href="/operator/trains">Back</a>
